<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/application.css' %}">
    <title>{% block title %} {% endblock title %}</title>
</head>
<body>
    <div class="wraper">
        <header>
            <div class="logo">
            <a href="#">
                <img src="{% static 'imgs/logo and search/logo_ubtuit.png' %}" alt="">
            </a>

            </div>
            <div class="hamburger" id="hamburger">
              <span></span>
              <span></span>
              <span></span>
            </div>
            <nav id="navMenu">
                <ul>
                    {% if request.user.is_authenticated %}
                        <li>{{ request.user.username }}</li>
                    {% else %}
                    {% endif %}
                    <li><a href="news.html">Why Ubtuit?</a></li>
                    <li><a href="#">Faculty</a></li>
                    <li><a href="#">Programmed</a></li>
                    <li><a href="{% url 'my_application' %}">My Application</a></li>
                    <li><a href="#"><img src="search.svg" alt=""></a></li>
                    <li> <div class="language-select">
                        <button class="selected-lang">
                            <i class="fa-solid fa-globe"></i>
                            English
                        </button>
                        <ul class="lang-options">
                            <li data-lang="uz">
                              <img src="{% static 'imgs/translate.icons/uz.svg' %}" alt="Uzbek flag"> Uzbekcha
                            </li>
                            <li data-lang="en">
                              <img src="{% static 'imgs/translate.icons/en.svg' %}" alt="English flag"> English
                            </li>
                            <li data-lang="ru">
                              <img src="{% static 'imgs/translate.icons/ru.svg' %}" alt="Russian flag"> Русский
                            </li>
                          </ul>
                      </div>


                    </li>
                    {% if request.user.is_authenticated %}
                       <form method="post" action="{% url 'logout' %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Logout</button>
                    </form>
                    {% else %}
                    <li><a href="{% url 'signup' %}">signup</a></li>
                    {% endif %}
                    <li><a href="{% url 'application' %}" class="btn">Online application</a></li>
                </ul>
            </nav>
        </header>

{% block content %}
{% endblock content %}

 <footer class="footer">
    <div class="footer-container">
      <div class="footer-column">
        <h3>Study in Uzbekistan</h3>
        <p>The official web portal about higher education in Uzbekistan for international students.</p>
        <button class="contact-btn">Contact us</button>
      </div>

      <div class="footer-column">
        <h4>Why Uzbekistan?</h4>
        <ul>
          <li><a href="#">World Rankings</a></li>
          <li><a href="#">Teaching Advantages</a></li>
          <li><a href="#">Education in Numbers</a></li>
        </ul>
      </div>

      <div class="footer-column">
        <h4>Study Info</h4>
        <ul>
          <li><a href="#">General Info</a></li>
          <li><a href="#">Universities</a></li>
          <li><a href="#">Apply in 5 Steps</a></li>
        </ul>
      </div>

      <div class="footer-column">
        <h4>Contact</h4>
        <ul>
          <li>City of Tashkent</li>
          <li>Phone: (71) 207-03-43</li>
          <li>Email: info@devedu.uz</li>
        </ul>
      </div>
    </div>

    <div class="footer-bottom">
      <p>© Study in Uzbekistan 2025</p>
      <div class="social-icons">
        <a href="#"><i class="fa-brands fa-facebook"></i> facebook </a>
        <a href="#"><i class="fa-brands fa-instagram"></i> Instagram</a>
        <a href="#"><i class="fa-brands fa-youtube"></i> youtube </a>
      </div>
    </div>
  </footer>

        </div>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="{% static 'js/index.js' %}"></script>

        <script>
        </script>

</body>
</html>
