{% extends 'main/base.html' %}
{% block title %} Bosh sahifa {% endblock title %}


{% block content %}
        <div class="content-img"> </div>
        <div class="container">
             <section class="education-stats">
                  <h3 class="section-title"> O'zbekistonda ta'lim <span class="highlight">raqamlarda</span> </h3>

                  <div class="stats-cards">

                    <div class="stat-card">
                      <div class="icon-box">
                        <i class="fas fa-university"></i>
                      </div>
                      <h4>OLIY TA'LIM MUASSASALARI</h4>
                      <div class="number">206</div>
                      <p>Veb portaldagi oliy ta'lim tashkilotlar soni</p>
                    </div>

                    <div class="stat-card">
                      <div class="icon-box">
                        <i class="fas fa-user-graduate"></i>
                      </div>
                      <h4>O'ZBEKISTONDAGI XORIJIY TALABALAR SONI</h4>
                      <div class="number">34 760</div>
                      <p>O'zbekiston ta'lim olayotgan jami xorijiy talabalar soni</p>
                    </div>

                    <div class="stat-card">
                      <div class="icon-box">
                        <i class="fas fa-chart-bar"></i>
                      </div>
                      <h4>TA'LIM DASTURLARI</h4>
                      <div class="number">3 390</div>
                      <p>Veb-portaldagi ta'lim dasturlari soni</p>
                    </div>

                  </div>
              </section>
 </div>


 <div class="abovt">
    <div class="container">
      <div class="abovt-start">
        <div class="abovt-text">
          <h4>O'zbekiston haqida</h4>
          <p>
            O'zbekiston haqida qiziqarli ma'lumotlar. Markaziy Osiyo yuragida joylashgan
            O‘zbekiston Respublikasi o‘zining ko‘plab meʼmoriy yodgorliklari, tabiiy
            landshaftlari, saroylari, sivilizatsiya merosi, madaniy tadbirlari, gastronomik
            zavqlari va hunarmandchilik ustaxonalari bilan mashhur. Birinchi tashrifingizdan
            mamlakatimiz sizda yana va yana bu yerga kelishga undaydigan tuyg‘ularni uyg‘otadi.
          </p>
          <div class="abovt-button">
            <button>Batafsil</button>
          </div>
        </div>

        <div class="abovt-video">
          <iframe
            src="https://www.youtube.com/embed/JpEOyXGGi8I"
            title="Study in Uzbekistan"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="step">
        <div class="step">
            <h3 class="section-title"> O‘qishga qabul qilish uchun 5 qadamx </h3>

           <div class="cards">
            <div class="levl">
                <h4>Ta’lim dasturini va  <br>universitetni tanlang</h4>
                <div class="card-text">
                    <p>01</p>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
            </div>
            <div class="levl">
                <div class="card-text">
                    <p>02</p>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
                <h4>Universitetga onlayn ariza yuboring</h4>
            </div>
            <div class="levl">
                <h4>Talab etilgan hujjatlarni yuboring</h4>
                <div class="card-text">
                    <p>03</p>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
            </div>
            <div class="levl">
                <div class="card-text">
                    <p>04</p>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
                <h4>Belgilangan tartibda suhbatda ishtirok eting</h4>
            </div>
            <div class="levl">
                <h4>TQabul qilishni rasmiylashtirish va to‘lovni amalga</h4>
                <div class="card-text">
                    <p>05</p>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
            </div>
           </div>


        </div>


    </div>
  </div>
{% endblock content %}